asn1crypto==0.23.0
attrs==17.2.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2018.1.18
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==2.1.1
cssselect==1.0.1
defusedxml==0.5.0
Django==1.11.23
django-allauth==0.34.0
django-cors-headers==2.1.0
django-rest-auth==0.9.3
djangorestframework==3.7.0
drf-nested-routers==0.90.0
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
factory-boy==2.10.0
Faker==0.8.10
furl==1.0.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
lxml==4.1.0
oauthlib==2.0.6
orderedmultidict==0.7.11
parsel==1.2.0
psycopg2==2.7.3.1
pyasn1==0.3.7
pyasn1-modules==0.1.5
pycparser==2.18
PyDispatcher==2.0.5
pyOpenSSL==17.3.0
python-dateutil==2.6.1
python3-openid==3.1.0
pytz==2017.2
queuelib==1.4.2
requests==2.18.4
requests-oauthlib==0.8.0
Scrapy==1.4.0
scrapy-djangoitem==1.1.1
service-identity==17.0.0
six==1.11.0
text-unidecode==1.1
Twisted==17.9.0
urllib3==1.21.1
w3lib==1.18.0
zope.interface==4.4.3
